@import "tailwindcss";
a {
  display: inline;
  text-decoration: none;
  /* color: rgb(100, 99, 99); */
  font-weight: 600;
  font-size: large;
}

h1 {
  color: rgb(37, 37, 37);
  line-height: 1.5em;
}

h2 {
  color: rgb(37, 37, 37);
  line-height: 1.5em;
}

.footerLink a {
  color: rgb(100, 99, 99);
  font-weight: 600;
}

.footerLink a:hover {
  color: #0000ff;
  font-weight: 600;
}


.charges h3 {
  font-size: 20px;
  padding-top: 20px;
}

.charges p {
  font-size: small;
}

.charges h2 {
  color: rgb(71, 71, 71);
}

.createTicketLink a {
  color: #387ed1;
  font-weight: 400;
}

/* Support */
.supportCSS a {
  color: white;
  text-decoration: underline;
}

.supportCSS input {
  width: 100%;
  /* height: 40px; */
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: large;
}